.modalHeader{
    display: flex;
    justify-content: space-between;
}
.closeButton{
    position: relative;
    right: -20px;
    top: -20px;
    border: none;
    background-color: #f0f8ff00;
}
.closeButton:hover{
    background-color: #f9f9f9;
}

.deleteItem{
    background-color: #faebd700;
    border: none;
    color: red;
}
.cartFooter{
    position: absolute;
    right: 22px;
    bottom: 6px;
}
.cartFooter>button{
    margin-right: 22px;
    border: none;
    background-color: #e8e8e800;

}