.checkoutForm{
    display: flex;
    justify-content: center;
}
.checkoutForm>form{
    display: flex;
    flex-direction: column;
}
.formStyle { 
    width: 400px;
    margin-bottom: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #2196f361;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    font-size: 1em;
    font-weight: 100;
  }
  
  .formButton {
    float: right;
    display: inline-block;
    font-size: 28px;
    font-weight: 500;
    padding: 6px 24px;
    margin-top: 15px;
    margin-right: 60px;
    text-decoration: none;
    border: none;
    background-color: #2196F3;
    color: white;
    border-radius: 40px;
  }
  
  .formButton:hover {
    background-color: #2196f3a6;
  }
  
  .formButton:active {
      position:relative;
      top:3px;
  }
  
  /*To remove the outline that appears on clicking the input textbox*/
  input:focus {
    outline: none;
  }
  
  /* To format the placeholder text color */
  ::-webkit-input-placeholder {
     color: #ecf0f1;
  }
  
  :-moz-placeholder { /* Firefox 18- */
     color: #ecf0f1;  
  }
  
  ::-moz-placeholder {  /* Firefox 19+ */
     color: #ecf0f1;  
  }
  
  :-ms-input-placeholder {  
     color: #ecf0f1;  
  }